{% extends "header1.html" %}

{% block body %}

<br>

<h2 align="center" style="margin-top:50px"> Enter Match Result </h2>

<div  style="padding:30px 350px; align-content: center; align-self: center;">
          <form role="form" action="http://127.0.0.1:5000/matchresult" method="post">
            <div class="form-group">
              <label for="id">Match ID</label>
              <input type="text" class="form-control" id="matchid" name="matchid" placeholder="Enter matchid" required="true">
            </div>

            <div class="form-group">
              <label for="toss"> Enter Toss</label>
              <input type="text" class="form-control" id="toss" name="toss" placeholder="Enter team that won the toss" required="true">
            </div>

            <div class="form-group">
              <label for="result"> Enter Result</label>
              <input type="text" class="form-control" id="result" name="result" placeholder="Enter Winning Team's name" required="true">
            </div>

            <br>
            <h5 align="center"> <font face="verdana"><b>Batsman</b></font></h5>
            <div class="form-group">
              <label for="bn">Player Name</label>
              <input type="text" class="form-control" id="bn" name="bn" placeholder="Enter Batsman Name" required="true">
            </div>

            <div class="form-group">
              <label for="bs"> Enter Strike Rate</label>
              <input type="text" class="form-control" id="bs" name="bs" placeholder="Enter strike rate of the Batsman" required="true">
            </div>

            <div class="form-group">
              <label for="brun"> Enter Runs Scored</label>
              <input type="text" class="form-control" id="brun" name="brun" placeholder="Enter Runs Scored" required="true">
            </div>

            <br>
            <h5 align="center"><font face="verdana"><b>Bowler</b></font></h5>
            <div class="form-group">
              <label for="boname">Player Name</label>
              <input type="text" class="form-control" id="boname" name="boname" placeholder="Enter Bowler Name" required="true">
            </div>

            <div class="form-group">
              <label for="boe"> Enter Economy</label>
              <input type="text" class="form-control" id="boe" name="boe" placeholder="Enter Economy of Bowler" required="true">
            </div>

            <div class="form-group">
              <label for="bow"> Enter Wickets</label>
              <input type="text" class="form-control" id="bow" name="bow" placeholder="Enter Wickets Taken" required="true">
            </div>


            <!-- <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div> -->
              <button type="submit" class="btn btn-success btn-block"> <h5>Submit Result</h5></button>
          </form>
        </div>
		<a href="{{ url_for('logout') }}"><button type="button" class="btn btn-danger" aria-label="Left Align" style="margin-top:20px; margin-bottom: 10px; margin-left: 20px; margin-right: 10px; height:44px">
	  	<span class="glyphicon glyphicon-off" aria-hidden="true"></span>  LOGOUT
		</button></a>

{% endblock %}
